doctype
html
  head
    title Hacker news
    link(href="static/css/app.css", type="text/css", rel='stylesheet')
    link(rel="shortcut icon", href="/static/images/favicon.ico")

  body
    div#content
        div(id='react-root')!= app

    script(src='/static/js/app.js')
