body {
  margin: 10px;
  text-align: center;
}
#content {
  width: 85%;
  margin: 0 auto;
  text-align: left;
  background-color: #f6f6ef;
}

#footer {
  font-size: 10pt;
  border-top: 2px #ff6600 solid;
  padding: 20px 0;
}
#footer .yclinks {
  font-size: 8pt;
  color: #828282;
  display: block;
  margin-bottom: 15px;
}
#footer .yclinks a {
  color: #000000;
  text-decoration: none;
  margin: 0 2px;
}
#footer .yclinks a:visited {
  color: #828282;
  text-decoration: none;
}
#footer input {
  font-family: monospace;
  font-size: 10pt;
  color: #000000;
  margin-left: 10px;
}
#footer form {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color: #828282;
}

body {
  font-family: Verdana, sans-serif;
}
.newsHeader {
  align-items: center;
  background: #ff6600;
  color: black;
  display: flex;
  font-size: 10pt;
  padding: 2px;
}
.newsHeader-login {
  margin-right: 5px;
}
.newsHeader-logo {
  border: 1px solid white;
  flex-basis: 18px;
  height: 18px;
}
.newsHeader-nav {
  flex-grow: 1;
  margin-left: 10px;
}
.newsHeader-navLink:not(:first-child)::before {
  content: ' | ';
  color: black;
}
.newsHeader-textLink.selected {
  color: white;
}
.newsHeader-textLink {
  cursor: pointer;
  color: black;
  text-decoration: none;
}
.newsHeader-title > a {
  font-weight: bold;
  margin-left: 4px;
}

.newsItem {
  align-items: baseline;
  color: #828282;
  display: flex;
  margin-top: 5px;
}
.newsItem-domain {
  font-size: 8pt;
  margin-left: 5px;
}
.newsItem-itemText {
  flex-grow: 1;
}
.newsItem-rank {
  flex-basis: 25px;
  font-size: 10pt;
  text-align: right;
}
.newsItem-subtext {
  font-size: 7pt;
}
.newsItem-subtext > a {
  color: #828282;
  text-decoration: none;
}
.newsItem-subtext > a:hover {
  text-decoration: underline;
}
.newsItem-titleLink {
  color: black;
  font-size: 10pt;
  text-decoration: none;
}
.newsItem-vote {
  flex-basis: 15px;
  text-align: center;
}

.newsList {
  background: #f6f6ef;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-height: 400px;
}
.newsList-more {
  margin-left: 40px;
  /* matches NewsItem rank and vote */
  margin-top: 10px;
  padding-bottom: 10px;
}
.newsList-nomoreLink {
  color: black;
  font-size: 10pt;
  text-decoration: none;
  cursor: normal;
}
.newsList-moreLink {
  color: black;
  font-size: 10pt;
  text-decoration: none;
  cursor: pointer;
}
.loading {
  margin: 25px;
}
.loading * {
  vertical-align: middle;
  margin-right: 10px;
}

/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: Verdana, Geneva, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
body {
  margin: 10px;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
